@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url(./fonts/open-sans-v23-latin-regular.woff) format("woff");
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url(./fonts/rubik-v14-latin-regular.woff) format("woff");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--color-black-100);
}

:root {
  --lightness: 0%;
  --color-black-100: hsl(0, 0%, var(--lightness));
  --color-black-85: hsl(0, 0%, calc(var(--lightness) + 15%));
  --color-black-70: hsl(0, 0%, calc(var(--lightness) + 30%));
  --color-black-55: hsl(0, 0%, calc(var(--lightness) + 45%));
  --color-black-40: hsl(0, 0%, calc(var(--lightness) + 60%));
  --color-black-30: hsl(0, 0%, calc(var(--lightness) + 70%));
  --color-black-25: hsl(0, 0%, calc(var(--lightness) + 85%));
  --color-white-100: hsl(0, 0%, 100%);
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  --dot-matrix-width: 2rem;
}

::selection {
  background: var(--color-black-40);
}

::-webkit-scrollbar {
  background: var(--color-black-40);
  width: 0.75rem;
  border-radius: 0.66rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color-black-85);
  border-radius: 0.66rem;
}

html,
body {
  overflow: hidden;
  position: relative;
}

html {
  background: var(--color-black-85);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-radius: 25px;
  border: 5px solid var(--color-black-100);
  background: var(--color-white-100);
}

main {
  padding-top: 8rem;
  padding-inline: 1.25rem;
}

.card-screen {
  height: calc(100vh - 6em);
  padding-bottom: 2rem;
}

form {
  margin-top: 1rem;
  flex-direction: column;
  gap: 1.5rem;
}
