@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(./fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
    url(./fonts/Rubik-VariableFont_wght.ttf) format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-100: #000000;
  --black-85: #323232;
  --black-70: #646464;
  --black-55: #a0a0a0;
  --black-40: #c8c8c8;
  --black-30: #dcdcdc;
  --black-25: #ebebeb;
  --white-100: #ffffff;
  font-size: 15px;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2%;
}

body {
  border-radius: 25px;
  border: 5px solid var(--black-100);
  display: flex;
  min-height: 100vh;
}
