@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url(./fonts/open-sans-v23-latin-regular.woff) format("woff");
}

@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url(./fonts/rubik-v14-latin-regular.woff) format("woff");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--color-black-100);
}

:root {
  --lightness: 0%;
  --darkness: 0%;
  --color-black-100: hsl(0, 0%, calc(100% - (10 * var(--lightness))));
  --color-black-85: hsl(0, 0%, calc(100% - (8.5 * var(--lightness))));
  --color-black-70: hsl(0, 0%, calc(100% - (7 * var(--lightness))));
  --color-black-55: hsl(0, 0%, calc(100% - (6 * var(--lightness))));
  --color-black-40: hsl(0, 0%, calc(100% - (4.5 * var(--lightness))));
  --color-black-30: hsl(0, 0%, calc(100% - (3 * var(--lightness))));
  --color-black-25: hsl(0, 0%, calc(100% - (1.5 * var(--lightness))));
  --color-white-100: hsl(0, 0%, calc(var(--darkness)));
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  --dot-matrix-width: 2rem;
}

::selection {
  background: var(--color-black-40);
}

::-webkit-scrollbar {
  background: var(--color-black-40);
  width: 0.75rem;
  border-radius: 0.66rem;
}

::-webkit-scrollbar-thumb {
  background: var(--color-black-85);
  border-radius: 0.66rem;
}

html,
body {
  overflow: hidden;
  position: relative;
}

html {
  background: var(--color-black-85);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-radius: 25px;
  border: 5px solid var(--color-black-100);
  background: var(--color-white-100);
}

main {
  padding-top: 8rem;
  padding-inline: 1.25rem;
}

.card-screen {
  height: calc(100vh - 6em);
  padding-bottom: 2rem;
}

form {
  margin-top: 1rem;
  flex-direction: column;
  gap: 1.5rem;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--color-black-40);
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  box-shadow: 0px 0.5rem 2.5rem rgba(149, 157, 165, 0.2);
  transform: translateY(-25%);
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--color-black-25);
  border-radius: 5px;
  height: 0.5rem;
}

input[type="range"]::-ms-track {
  width: 100%;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-moz-range-track {
  background: var(--color-black-25);
  border-radius: 5px;
  height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  background: var(--color-black-40);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  box-shadow: 0px 0.5rem 2.5rem rgba(149, 157, 165, 0.2);
}
