#Account {
  background-image: url(../svg/backgrounds/background-account.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.Account__input__wrapper {
  gap: 2rem;
}
