#CreateCase {
  background-image: url(../svg/backgrounds/background-createCase.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

#CreateAction {
  background-image: url("../svg/backgrounds/background-createCase.svg");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
