#Imprint {
  background-image: url(../svg/backgrounds/background-imprint.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

#Imprint .Card__content {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1em;
  scrollbar-width: thin;
  scrollbar-color: var(--color-black-100);
}

#Imprint .Card__content::-webkit-scrollbar {
  background: var(--color-black-40);

  width: 0.75rem;
}
#Imprint .Card__content::-webkit-scrollbar-thumb {
  background: var(--color-black-85);
  border-radius: 10px;
}
