#Login {
  background-image: url(../svg/backgrounds/background-logIn.svg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

#Login .Card__content {
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;

  gap: 0.5em;
}
