#Login {
  background-image: url(../svg/backgrounds/background-logIn.svg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

#Signup {
  background-image: url(../svg/backgrounds/background-signUp.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

#PasswordReset {
  background-image: url(../svg/backgrounds/background-resetPassword.svg);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}
