#Overview {
  height: calc(100vh - 170px);
  background-image: url(../svg/backgrounds/background-overview.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.Overview__card {
  width: 100%;
  margin-top: 1.5em;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background: var(--color-white-100);
  border-bottom-right-radius: 5px;
}

.Overview__card::after {
  content: "";
  height: 5px;
  position: absolute;
  background: var(--color-black-100);
  inset: 100% 0 0 0;
  border-radius: 5px;
}

.Overview__card__number {
  padding: 0.5em 0.75em;
  margin-bottom: 0.5rem;
  aspect-ratio: 1 / 1;
  background: var(--color-black-100);

  color: var(--color-white-100);
}

.Overview__card__txt {
  margin-left: 1rem;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

.Overview__card svg {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
}

.btn--forward {
  all: unset;
  align-self: center;
  margin-right: 70px;
}

.btn--delete {
  all: unset;
  position: absolute;
  width: 40px;
  inset: 0 0 0 auto;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-black-85);
}

.Overview__card .btn--forward path {
  stroke: var(--color-black-100) !important;
}

.withHighlight {
  background: var(--color-black-25);
}
