#SinglePage .Card__content {
  scrollbar-width: thin;
  scrollbar-color: var(--color-black-100);
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.caseArea {
  position: relative;
}
.caseArea::after {
  content: "";
  position: absolute;
  bottom: -15px;
  height: 5px;
  width: 100%;
  background: var(--color-black-100);
  border-radius: 5px;
}

.caseArea h2 {
  font-size: 2.2rem;
}

.actionArea {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
