.Speechinput-button-wrapper {
  position: relative;
  width: 2rem;
}

.Speechinput-button-wrapper::before {
  content: "";
  background: var(--color-black-100);
  position: absolute;
  inset: 0 -5px -5px 100%;
  border-radius: 0.333px;

  z-index: 10;
}

.Speechinput-button {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border: none;
  background: var(--color-white-100);
  cursor: pointer;
}

.btn--microphone {
  pointer-events: none;
}
