.Card {
  width: 100%;
  border: 5px solid var(--color-black-100);
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--color-white-100);
  position: relative;
  margin: 0;
  padding: 0;
}

.Card form {
  margin: 0;
  padding: 0;
}

.Card--light {
  border: 5px solid var(--color-black-85);
}

.Card__content {
  padding: 1.25rem;
  height: 100%;
  gap: 0.75rem;
}

.Card__message--error {
  background: var(--color-black-100);
  color: var(--color-white-100);
  padding: 0.25rem;
  display: inline;
}

.Card__header {
  padding-top: 0.25rem;
  justify-content: space-between;
  height: 3.25rem;
  margin-bottom: 2rem;
  position: relative;
}

.Card__header button {
  all: unset;
  position: relative;
  z-index: 0;
  padding: 0.5rem;
}
.Card__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--color-black-100);
  height: 2.5rem;
  justify-self: flex-end;
  justify-content: center;
}

.Card__footer button {
  all: unset;
  color: var(--color-white-100);
}
