.Input-box {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.Input-wrapper {
  width: 100%;
  position: relative;
}

.Input-wrapper::before {
  content: "";
  height: 5px;
  background: var(--color-black-100);
  position: absolute;
  inset: auto 0 -5px 0;
}

.Input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  background: var(--color-black-25);
  padding: 0.5rem 0.5rem;
  color: var(--color-black-100);
  font-size: 0.8rem;
}

.Input:focus,
.Input:hover {
  background: var(--color-black-55);
}
