h1 {
  font-family: "Rubik", sans-serif;
  color: var(--color-black-100);
  font-size: 3.2rem;
  width: 7ch;
}

h2 {
  font-family: "Rubik", sans-serif;
  color: var(--color-black-100);
  font-size: 2.4rem;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1.5rem;
  letter-spacing: 0.025rem;
}

label {
  font-family: "Rubik", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.025rem;
  color: var(--color-black-100);
}

summary {
  font-size: 0.85rem;
}
.link {
  text-decoration: none;
  color: var(--color-black-55);
  font-size: 0.8rem;
}

.txt--highlight {
  color: var(--color-black-70);
}
