h1 {
  font-family: "Rubik", sans-serif;
  color: var(--color-black-100);
  font-size: 3.2rem;
  width: 7ch;
}

h2 {
  font-family: "Rubik", sans-serif;
  color: var(--color-black-100);
  font-size: 2.4rem;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.025rem;
}

label {
  font-family: "Rubik", sans-serif;
  font-size: 0.75rem;
  font-weight: 800;
  color: var(--color-black-100);
}

.link {
  text-decoration: none;
  color: var(--color-black-55);
}

.txt--highlight {
  color: var(--color-black-70);
}
