h1 {
  font-family: "Rubik", sans-serif;
  color: var(--color-black-100);
  font-size: 3.2rem;
  width: 7ch;
}

h2 {
  font-family: "Rubik", sans-serif;
  color: var(--color-black-100);
  font-size: 2.4rem;
}

label {
  font-family: "Rubik", sans-serif;
  font-size: 0.75rem;
  font-weight: 800;
  color: var(--color-black-100);
}

.txt--highlight {
  color: var(--color-black-70);
}
