.dispFlex {
  display: flex;
}

.col {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

/* ============== General Icons */
.icon {
  width: 30px;
  height: 30px;
}

.icon-stroke--light {
  stroke: var(--color-black-25);
}

.icon-fill--light {
  fill: var(--color-black-25);
}

.icon-stroke--dark {
  stroke: var(--color-black-100);
}
.icon-fill--dark {
  fill: var(--color-black-100);
}

.lineIcon {
  width: 1.5rem;
  height: 1.5rem;
}
.icon--small {
  width: 20px;
  height: 20px;
}

/* ================= General Hover / Active */

.opaque:hover,
.opaque:active {
  opacity: 0.6;
  cursor: pointer;
}

/* =============== Transition Ease-in-out */
.transition {
  transition: all 0.5s ease-in-out;
}
