.dispFlex {
  display: flex;
}

.col {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

/* ========= General Icons */
.icon {
  width: 2rem;
  height: 2rem;
}

.icon-stroke--light {
  stroke: var(--color-black-25);
}

.icon-fill--light {
  fill: var(--color-black-25);
}

.icon-stroke--dark {
  stroke: var(--color-black-100);
}
.icon-fill--dark {
  fill: var(--color-black-100);
}

.lineIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.icon--small {
  width: 20px;
  height: 20px;
}

/* ========= General Hover / Active */
.opaque:hover,
.opaque:active {
  opacity: 0.6;
  cursor: pointer;
}

.faded {
  opacity: 0.75;
}

.faded:hover {
  opacity: 1;
}

/* ========= Transition Ease-in-out */
.transition {
  transition: all 0.5s ease-in-out;
}

/* ========= Margins */
.margin-b--s {
  margin-bottom: 0.5em;
}

.margin-b--m {
  margin-bottom: 1em;
}

.margin-b--l {
  margin-bottom: 1.25rem;
}

/* ======== Inputs */
.Input-box {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.Input-wrapper {
  width: 100%;
  display: flex;
  position: relative;
}

.Input-wrapper::before {
  content: "";
  height: 0.333rem;
  background: var(--color-black-100);
  position: absolute;
  inset: auto 0 -0.333rem 0;
  border-radius: 0.333rem;
}

.Input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  background: var(--color-black-25);
  padding: 0.5rem 0.5rem;
  color: var(--color-black-100);
  font-size: 0.8rem;
}

.Input:focus,
.Input:hover {
  background: var(--color-white-100);
}
